@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
/*
	300 - Light
	400 - Regular
	600 - SemiBold
	700 - Bold
*/

*,*:before,*:after{
	box-sizing: border-box;
	position: relative;
}
html, body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0;
	/*overflow: auto;*/
}
@media (max-width: 650px){
	body{
		/*overflow: hidden;*/
	}
}
.credfoto{
	font-size: 1.7em;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400; 
	font-style:normal;
	text-align: left;
	line-height:1.07em;
	letter-spacing: 0em;
	text-shadow:1px -1px #000;

	align-self: flex-end;
}
#home {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0;
	background: url(assets/f1.jpg) no-repeat 40% top;
	background-size: cover;
}
@media (max-width: 650px){
    #home{
    	background: #ffca22;
    } 
}
#home nav{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
}

#home nav ul{
	display: flex;
	flex-direction: row;
	justify-content:center;
	list-style: none;
	padding: 0;
}
#home nav ul a{
	text-decoration: none;
	width:110px;
	margin: 0 0.86%;
}
@media (max-width: 650px){
	#home nav ul a{
		width: 80px;
		margin:0.69%;
	}
}
#home nav ul a li{
	width:100%;
	padding: 5px 0;
	background: #fff;
	border: solid 1px #888;
	border-radius:46px;
	color: #1f4ecc;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400; /*Regular*/
	font-size:0.94em;
	font-style:normal;
	line-height: 0.8em;
	letter-spacing: 0em;
	text-align: center;
}
@media (max-width: 650px){
	#home nav ul a li{
		padding:  10px 0;
		color: #00416d;
	}
}
#home img{
	width: 33%;
}
@media (max-width: 650px){
	#home img{
		width: 82%;
		margin-top: 127px;
	}
}
#home .credfoto{
	align-self: flex-end;
	left:-60%;

}
@media(max-width: 2000px){
	#home .credfoto{
		left:-55%;
	}
}
@media(max-width: 1000px){
	#home .credfoto{
		left:-45%;
	}
}
@media(max-width: 650px){
	#home .credfoto{
		display: none;
	}
}
main{
	min-height: 100vh;
	width: 100%;
	display: flex;
}
@media (max-width: 650px){
	main {
		flex-direction: column;
	}
}
section{
	max-width: 50%;
}
@media (max-width: 650px){
	section{
		max-width: 100%;
	}
}
main #sobre{
	padding: 2%;
	padding-left: 7%;
	padding-right: 6%;
}
@media (max-width: 650px){
	main #sobre{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 60px;
	}
}
main #sobre img{
	width: 40%; 
	padding-bottom:3%;
}
@media (max-width: 650px){
	main #sobre img{
		display: none;
	}
}
main #sobre h2{
	font-size: 1.88em;
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	color:#1f4ecc;
	text-align: left;
	line-height: 1.61;
	letter-spacing: 0em;
}
@media (max-width: 650px){
	#sobre h2{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.88em;
		color: #1f4ecc;
		font-style: normal;
		text-align: left;
		line-height: 1.61em;
		letter-spacing: 0em;
		margin: 0;
		margin-top: 70px;
		margin-left: 40px;
		width: 80%;
	}
}
main #sobre p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size: 1.10em;
	color: #656565;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em; 
}

@media (max-width: 650px){
	#sobre p{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 0.88em;
		color: #95989a;
		font-style: normal;
		text-align: left;
		line-height: 0.75em;
		letter-spacing: 0em;
		/*padding: 22px;*/
		width: 80%;
		margin: 10px;
						}
}

main #acoes{
	width: 100%;
	background: url(assets/f6.jpg) no-repeat;
	background-size: cover;
	padding: 2%;
	padding-top: 18%;
	display: flex;
	flex-flow: row wrap;
}
@media (max-width: 1800px){
	main #acoes{
		padding-top: 23%;
	}
}
@media (max-width: 1350px){
	main #acoes{
		flex-direction: column;
		align-items: center;
		padding-top: 10%s;
		background-position: -135px;
	}
}
main #acoes h2{
	display: none;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.88em;
	color: #1f4ecc;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}
@media (max-width: 650px){
	main #acoes h2{
		display: block;
		padding:0;
		margin-bottom: 10px;
		text-align: center;
	}
}
main #acoes div{
	width: 30%;
	max-width: 200px;
	background: #fff;
	margin: 5px;
	padding: 0px 20px;
}
@media (max-width: 1350px){
	main #acoes div{
		justify-content: center;
		position: relative;
		margin: 5px 0;
		/*padding: 0;*/
		max-width: 90%;
		min-width: 90%;
	}
}
main #acoes div h3{
	height:20%;
	padding: 1px;
	display: flex;
	align-items: flex-end;
	font-size: 1.56em;
	font-family: 'Source Sans Pro', sans-serif;
	font width:600%;
	font-style: normal;
	color: #1f4ecc;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em; 
}
main #acoes .last-div-acoes h3{
	font-size: 1.4em;
} 
@media (max-width: 650px){
	#acoes div h3{
	
	}	
}
main #acoes div p{
	font-size: 1.00em;
	color: #1f4ecc;
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-align: left;
	line-height: 1.0em;
	letter-spacing: 0em;
}
main #acoes .credfoto{
	width: 100%;
	z-index: 2;
	text-align: right;
	bottom: -15%;
	margin: 0;
}
#contato{
	display:flex;
	align-items: center;
	flex-direction: column;
	background: url(assets/f5.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding: 2%;
	padding-left: 7%;
}
@media (max-width: 650px){
	#contato{
		align-items: center;
		background-position: center;
	}
}
#contato img{
	width: 16%;
	align-self: flex-start;
	
}
#contato div{
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: flex-end;
	margin-top: 100px;
	padding: 3%;
	border-radius: 20px; 
	background: rgba(0,0,0,0.5);
	width: 350px;
}
@media (max-width:650px){
	#contato div{
		width: 85%;
		align-self: center;
	}
}
#contato h2{
	font-size:20px;
	color: #fff;
	font-style: normal;
	text-align: left;
	margin: 0;
}
#contato p{
	font-size: 17px;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	margin: 0;
}

#contato .credfoto{
	font-size: 1.7em;

	align-self: flex-end;
	/*position: relative;*/
	right: -10px;
	bottom:-25%;
}
@media(max-width: 2200px){
	#contato .credfoto{
		bottom:-35%;
	}
}
@media(max-width: 1500px){
	#contato .credfoto{
		bottom:-45%;
	}
}
@media(max-width: 650px){
	#contato .credfoto{
		left:-30%;
		bottom:-100%;
	}
}
@media (max-width: 650px){
	#contato{
		/*background-size: cover;*/
		/*height: 100vh;*/
	}
	#contato img{
		display: none;
	}
	#contato h2{
		font-size:1.88em;
		margin-bottom: 10px;
		/*left: 30%;*/
	}
	#contato p{
		font-size: 0.88em;
		/*left: 30%;*/
	}
	#contato .num-cel{
		font-size: 1.25em;
		margin-top: 20px;
	}
	#contato .credfoto{
		right: 5%;
		bottom:-50%;								
	}
}