*,*:before,*:after{
	box-sizing: border-box;
	position: relative;
}
html, body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

img{
	width: 150px;
}
#home {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: url(assets/f1.jpg) no-repeat;
	background-size: 100%;
}
#home nav{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
}
#home nav ul{
	display: flex;
	flex-direction: row;
	justify-content:center;
	list-style: none;
}
#home nav ul li{
	background: #fff;
	border: solid 1px #000;
	border-radius:46px;
	color: blue; 
	font-size:0.94em;
	font-style:normal;
	text-align: center;
	margin-left: 1.72%;
	width:7%;
}
#home img{
	width: 29%;
}
